<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <title>Tales - A home for budding writers</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Custom styles -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="../static/blog.css" rel="stylesheet">
    <link href="../static/carousel.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">

      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">

          <div class="col-4 pt-1">
            <a class="text-muted" href="{{url_for("core.info")}}">Discover</a>
          </div>

          <div class="text-center">
            <a class="text-muted" href="#">
              <img src="../static/logo.jpeg" width="40" height="40" align="left">
            </a>
            <a class="blog-header-logo text-dark" href="#">Tales</a>
          </div>

          {% if not current_user.is_authenticated %}
            <div class="col-4 d-flex justify-content-end align-items-center">
              <a class="btn btn-sm btn-outline-secondary" href="{{url_for("users.register")}}">Sign up</a>
            </div>
          {% endif %}

          {% if current_user.is_authenticated %}
            <div class="col-4 d-flex justify-content-end align-items-center">
              <a href="#"></a>
            </div>
          {% endif %}

        </div>
      </header>

      <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          <a class="p-2 text-muted" href="{{url_for("core.index")}}">Home</a>
          {% if current_user.is_authenticated %}
            <a class="p-2 text-muted" href="{{url_for("blogPosts.createPost")}}">Express</a>
          {% endif %}
          <a class="p-2 text-muted" href="#"></a>
          <a class="p-2 text-muted" href="#"></a>
          <a class="p-2 text-muted" href="#"></a>
          <a class="p-2 text-muted" href="#"></a>
          <a class="p-2 text-muted" href="#"></a>
          <a class="p-2 text-muted" href="#"></a>
          <a class="p-2 text-muted" href="#"></a>
          {% if not current_user.is_authenticated %}
            <a class="p-2 text-muted" href="{{url_for("users.login")}}">Log in</a>
          {% endif %}
          {% if current_user.is_authenticated %}
            <a class="p-2 text-muted" href="{{url_for("users.account")}}">Account</a>
            <a class="p-2 text-muted" href="{{url_for("users.logout")}}">Log out</a>
          {% endif %}
        </nav>
      </div>

    </div>
      {% block content %}

      {% endblock %}

  </body>
</html>
