{% extends "base.html" %}

{% block content %}

  <div class="container">

    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
      <div class="col-md-6 px-0">
        <h1><a class="display-4 font-italic text-white" href="{{url_for("blogPosts.blogPost", blogPostId=firstPost.id)}}">{{firstPost.title}}</a></h1>
        <a class="lead my-3 text-white" href="{{url_for("users.userPosts", username=firstPost.author.username)}}">{{firstPost.author.username}}</a>
        <p class="lead my-0">{{firstPost.date.strftime("%d-%m-%Y")}}</p>
        <p class="lead my-2"><a href="{{url_for("blogPosts.blogPost", blogPostId=firstPost.id)}}" class="text-white font-weight-bold">Continue reading...</a></p>
      </div>
    </div>

    <!--
    {% for post in blogPosts.items[1:] %}

      <div class="card">
        <div class="card-body">
          <h4><a class="card-title" href="{{url_for("blogPosts.blogPost", blogPostId=post.id)}}">{{post.title}}</a></h4>
          <a href="{{url_for("users.userPosts", username=post.author.username)}}">Author: {{post.author.username}}</a>
          <p>Published on: {{post.date.strftime("%Y-%m-%d")}}</p>
          <a class="btn btn-secondary" href="{{url_for("blogPosts.blogPost", blogPostId=post.id)}}">Continue reading...</a>
        </div>
      </div>

    {% endfor %}
    -->

    <div class="row mb-2">
      {% for post in blogPosts.items[1:] %}
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-100">
            <div class="card-body d-flex flex-column align-items-start">
              <h4><a class="card-title" href="{{url_for("blogPosts.blogPost", blogPostId=post.id)}}">{{post.title}}</a></h4>
              <a href="{{url_for("users.userPosts", username=post.author.username)}}">{{post.author.username}}</a>
              <p>{{post.date.strftime("%d-%m-%Y")}}</p>
              <a href="{{url_for("blogPosts.blogPost", blogPostId=post.id)}}">Continue reading</a>
            </div>
            <img class="card-img-right flex-auto d-none d-md-block" src="{{url_for("static", filename="profilePics/" + post.author.profileImage)}}" width=100 height=100>
          </div>
        </div>
      {% endfor %}
    </div>

  </div>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {% for pageNum in blogPosts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if blogPosts.page == pageNum %} <!-- if on the current page, disable clicking-->
          <li class="page-item disabled">
            <a class="page-link" href="{{url_for("core.index", page=pageNum)}}"></a>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="{{url_for("core.index", page=pageNum)}}"></a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>

{% endblock %}
