{% extends "base.html" %}
{% block content %}

  <div class="container">

    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
      <div align="center">
        <h3>Posts by {{user.username}}</h3>
        <img src="{{url_for("static", filename="profilePics/" + user.profileImage)}}">
      </div>
    </div>

    <!-- blogPosts is an object and therefore we use .items -->
    <!--
    {% for post in blogPosts.items %}
      <h4><a href="{{url_for("blogPosts.blogPost", blogPostId=post.id)}}">{{post.title}}</a></h4>
      <a href="{{url_for("users.userPosts", username=post.author.username)}}">{{post.author.username}}</a>
      <p class="text-muted">{{post.date.strftime("%d-%m-%Y")}}</p>
      <p>{{post.text[:100]}}</p>
      <p><a href="{{url_for("blogPosts.blogPost", blogPostId=post.id)}}">Continue reading</a></p>
    {% endfor %} -->


    <div class="row mb-2">
      {% for post in blogPosts.items %}
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-100">
            <div class="card-body d-flex flex-column align-items-start">
              <h4><a class="card-title" href="{{url_for("blogPosts.blogPost", blogPostId=post.id)}}">{{post.title}}</a></h4>
              <a href="{{url_for("users.userPosts", username=post.author.username)}}">{{post.author.username}}</a>
              <p>{{post.date.strftime("%d-%m-%Y")}}</p>
              <a href="{{url_for("blogPosts.blogPost", blogPostId=post.id)}}">Continue reading</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

  </div>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {% for pageNum in blogPosts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if blogPosts.page == pageNum %} <!-- if on the current page, disable clicking-->
          <li class="page-item disabled">
            <a class="page-link" href="{{url_for("users.userPosts", username=user.username, page=pageNum)}}"></a>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="{{url_for("users.userPosts", username=user.username, page=pageNum)}}"></a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>

{% endblock %}
